[user]
	email = atorresgomez@magicleap.com
	name = Alan Torres
[push]
	default = current
[alias]
	co = checkout
	pl = pull
	ps = push
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
    pager = delta
	excludesfile = .ignore
[pull]
	rebase = true
	ff = only
[delta]
	features = side-by-side unobtrusive-line-numbers decorations
    whitespace-error-style = 22 reverse
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended
[interactive]
    diffFilter = delta --color-only
