*
/.ssh/*

!/.agignore
!/.bash_profile
!/.bashrc
!/.config/Synergy/
!/.config/compton.conf
!/.config/compton/
!/.config/fish/
!/.config/fisher/
!/.config/i3/
!/.config/kitty/
!/.config/nvim/
!/.config/omf/
!/.config/polybar/
!/.config/rofi/
!/.config/terminator/
!/.gitignore
!/.pythonrc
!/.ssh
!/.ssh/config
!/.tmux.conf
!/.vim/after
!/.vim/ycm_global_extra_conf.py
!/.zshrc
!/Pictures/Wallpapers
