[user]
	name = Alan Torres
	email = ator@fb.com
[gpg]
	program = gpg
[commit]
	gpgsign = true
[core]
	editor = nvim
[push]
	default = current
[http]
  proxy=https://fwdproxy:8082
  proxySSLCert=/var/facebook/credentials/$USER/x509/$USER.pem
  proxySSLKey=/var/facebook/credentials/$USER/x509/$USER.pem
